
* {
  margin: 0;
  padding: 0;
}



h1 {
  text-align: center
}



section {
  background-image: url("../img/large/01-snub-nosed-monkey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 10%
}
section h1 {
  color: #fff;
  text-transform: uppercase;
}

section h1:hover{
  color: rgb(255, 0, 212);
}

